.userInfoRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userActions {
  display: flex;
}

.userActions > * + * {
  margin-left: 5px;
}

.userName {
  margin-right: 10px;
}

.friendsListContainer {
  margin-top: 10px;
}

.friendsListTitle {
  text-decoration: underline;
  color: #585858;
  margin-bottom: 5px;
}

.friendsList {
  padding: 5px 0 5px 20px;
}

.friendsList li {
  padding: 5px 0;
}
