.listItem {
  padding: 5px 0;
}

.userName {
  margin-bottom: 10px;
}

.userUpdateStatus {
  padding: 2px 4px 3px;
  font-size: 13px;
  margin-left: 5px;
}

.userUpdating {
  background: lavender;
}

.userUpdated {
  background: lightgreen;
}

.removeButton {
  margin-left: 10px;
}

.friendsList {
  margin-top: 20px;
}

.friendsList li {
  padding: 5px 0;
}
