.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.columns {
  display: flex;
}

.columns > * + * {
  margin-left: 50px;
}

.rightColumn {
  flex-grow: 1;
}

.actions {
  width: 200px;
}

.actions > * + * {
  margin-top: 20px;
}
